.bg {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;

}
.header {
    top: 0;
    z-index: 49;
    background-color: var(--header-bg);
    width: 100vw;
  }
.statsChart {
    background-color: var(--dark2);
    padding: 15px;
    border-radius: 15px;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 450px;

}
.rowTwo {
  background-color: var(--dark2);
  border-radius: 15px;
  width: 95%;
  height: fit-content;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.topContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
}

  .leftContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

.habitCardBodyy {
  background-color: var(--dark3);
}



  /* Container for the chart */
  .statsChartPlaceholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 8px; /* Rounded corners */
    box-sizing: border-box; 
    margin-left: -30px;
    width: 100% + 20px;
    overflow: visible;
  }
  /* Ensure the chart scales well with responsive designs */


  .gridColumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 8px;
    gap: 16px;
    max-height: 192px;
    height: fit-content;
    width: 100%;
    justify-content: flex-start;
  }



  @media screen and (max-width: 990px) {
    .gridColumns {
      justify-content: center;
    }

  }




  @media screen and (max-width: 530px) {
    .topContent {
      flex-direction: column;
    }
    .statsChart {
      gap: 12px;
    }
    .leftContent {
      flex-direction: column;
      gap: 10px;
    }
    .statsChart {
      min-height: 550px;
    }
    .statsChartPlaceholder {
      margin-left: -40px;
      overflow: visible;
    }

  }

  

  .weekGrids {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }
