/* login.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark1);
  }
  
  .card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.1);
  }
  

  