.bg {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;

}
.header {
    top: 0;
    z-index: 49;
    background-color: var(--header-bg);
    width: 100vw;
  }
.topContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark2);
    border-radius: 25px;
    width: 100%;
    gap: 20px;
}

.table {
    width: 66%;
}
.selectGroup, .priceGroup, .statsGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tradeEntry {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}