.leftTopFrame {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}

.table {
  overflow: overlay;
}

  .paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .arrowButton {
    border-radius: 10px;
    background-color: #27272a;
    padding: 4px 12px 4px 12px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
  }

  .arrowButton:hover {
    background-color: #3f3f46;

  }
  
  .dateDisplay {
    text-align: center;
    width: 120px;
  }

  .dateDisplay:hover {
    cursor: pointer;

  }

  .calendarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .calendarContainer {
    position: absolute;
    background: none;
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;

  }




  
  .buttonGroup {

    margin-bottom: 8px; /* Adds space between the button and the calendar */
  }
  




  .dropdown-menu {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 100%; /* Position below the chip */
    left: 0;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f5f5f5;
  }
  
  .nameCell {
    white-space: nowrap;       /* Prevents text from wrapping */
    overflow: hidden;          /* Hides text overflow */
    text-overflow: ellipsis;   /* Adds "..." for overflow */
    max-width: 250px;          /* Adjust width as needed */
  }

  .statusNotStarted {
    background-color: #3f3f46;
    color: #edfff9;
  }
  
  .statusInProgress {
    background-color: #5a3183;
    color: #edfff9;
  }
  
  .statusCompleted {
    background-color: rgb(63, 110, 63);
    color: #edfff9;
  }
  .buttonsGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;

  }

  @media screen and (max-width: 500px) {
    .nameCell {
      max-width: 150px;
    }
  }