


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: var(--dark1);
    z-index: 1;
    align-items: center;
  }
  

  /* Left and Right frames taking up half of the width and full height */
  .leftFrame, .rightFrame {
    position: absolute;
    width: 45%;
    height: 90%;
    margin-right: 3%;
    margin-left: 3%;

    z-index: 2;
    background-color: var(--dark2);
    border-radius: 60px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .leftFrame {
    left: 0;
  }
  
  .RightFrame {
    right: 0;
    
  }
  
  /* Top and Bottom frames inside Left and Right frames */
  .leftTopFrame, .leftBottomFrame {
    width: 100%;
    height: 50%;
  }
  
  .rightTopFrame {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    padding-top: 15px;
    padding-bottom: 15px;

  }
  .topContent {
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }

  .infoLeft {
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    align-items: center;
  }
  .buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 70%;
  }


  .picRight {
    width: 50%;
  }

  .rightBottomFrame {
    width: 100%;
    height: 60%;

  }


  .rightBottomFrame, .rightTopFrame {
    border-radius: 60px;
    border: 2px solid var(--dark3);


}
  
  .leftBottomFrame, .leftTopFrame {
    background-color: #808080; /* Example color for bottom frames */
  }
  
