


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark1);
    z-index: 1;
    align-items: center;
  }
  
.mainContainer {
display: flex;
flex-direction: column;
background-color: var(--dark1);
}

.habitFrame {
  height: 220px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.habitFrameLeft, .habitFrameRight {
  background-color: var(--dark2);
  border-radius: 60px;
  padding: 20px;
}
.headingText {
  font-size: 24px;
  font-weight: bold;
}

.habitFrameLeft {
  width: 20%;
}
.habitFrameRight {
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

  /* Left and Right frames taking up half of the width and full height */
  .leftFrame, .rightFrame {
    position: relative;
    width: 45%;
    height: 90%;
    margin-right: 3%;
    margin-left: 3%;

    background-color: var(--dark2);
    border-radius: 60px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .leftFrame {
    left: 0;
  }
  
  .RightFrame {
    right: 0;
    
  }
  .paddingBottom {
    padding-bottom: 15px;
  }
  @media screen and (max-width: 1320px) {
    .container {
      flex-direction: column;
      height: auto;
    }
    .leftFrame, .rightFrame {
      width: 95%;
      margin: 30px;
    }
  }

  .header {
    width: 100%;
  }