


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: var(--dark1);
    z-index: 1;
    align-items: center;
  }
  

  /* Left and Right frames taking up half of the width and full height */
  .leftFrame, .rightFrame {
    position: absolute;
    width: 45%;
    height: 90%;
    margin-right: 3%;
    margin-left: 3%;

    z-index: 2;
    background-color: var(--dark2);
    border-radius: 60px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .leftFrame {
    left: 0;
  }
  
  .RightFrame {
    right: 0;
    
  }
  .paddingBottom {
    padding-bottom: 20px;
  }